################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/.vs
/src/Services/Catalog/Catalog.API/bin
/src/Services/Catalog/Catalog.API/obj
/src/bin
/src/obj
/src/BuildingBlocks/Loggin/Common.Loggin/obj
/src/BuildingBlocks/Loggin/Common.Loggin/bin/Debug/net6.0
